// 1. Import the initial variables

@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

$purple: hsl(275,87%,45%);
$purple-invert: findColorInvert($purple);

// 3. Add new color variables to the color map.
@import "bulma/sass/utilities/derived-variables.sass";

$red: rgb(156, 10, 20);
$addColors: ("purple":($purple, $purple-invert),);
$colors: map-merge($colors, $addColors);

@import 'bulma/bulma';
@import "bulma-tooltip/dist/css/bulma-tooltip";
@import "bulma-carousel/dist/css/bulma-carousel";
@import "bulma-steps/dist/css/bulma-steps";
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

*{font-family: 'Raleway', sans-serif;}
body {
  color: #1a1a1a;
  min-height: 100vh;
  background-repeat:no-repeat;
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
}
.is-x-scroll{
  overflow-x: scroll;
  overflow-y: hidden
}
.is-y-scroll{
  overflow-y: scroll;
  overflow-x: hidden
}
.is-x-scroll::-webkit-scrollbar,
.is-y-scroll::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: .51em;
}

.is-x-scroll::scrollbar,
.is-y-scroll::scrollbar,
body::scrollbar {
  width: .51em;
}

.is-x-scroll::-webkit-scrollbar-track,
.is-y-scroll::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.is-x-scroll::scrollbar-track,
.is-y-scroll::scrollbar-track,
body::scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.is-x-scroll::-webkit-scrollbar-thumb,
.is-y-scroll::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  height: 20px;background-color: darkgrey;outline: 1px solid slategrey;
}

.is-x-scroll::scrollbar-thumb,
.is-y-scroll::scrollbar-thumb,
body::scrollbar-thumb {
  height: 20px;background-color: darkgrey;outline: 1px solid slategrey;
}

// Default
.has-background-moby{
  background-color: rgba(154, 135, 0, 0.05) !important;
}
.site {min-height: 100%;display: flex;flex-direction: column;align-items: stretch;}
.site .content {flex-grow: 1;margin-top: 70px;min-height: 80vh;}
header, .content, footer {flex-shrink: 0;}
.is-inventory{border-radius: 5px;padding: 5px;}
.is-centered{display: flex;align-items: center;justify-content: center;}
#is-inventory-load-more{
  width:45%;
  background-color: $red;
  border-color: $red;
  border-radius: 5px;
}
#is-searcher{padding: 5px;margin-top: 25px;}
.has-background-transparent{
  background-color: rgba(0,0,0,0) !important;
}
.has-footer-background{
  background-color: rgb(70, 70, 70);
}
.has-footer-background-dark{
  background-color: rgb(47, 47, 47);
  z-index: 9;
}
.copyright{
  width: 100%;
  border-top: 1px solid #fff;
}

#overFooter{
  padding-top: 25px;
  padding-bottom: 25px  
}
#overFooter h2{
  padding-bottom: 15px  
}
.navbar-item img {
  max-height: 2.8rem;
  margin-top: -15px;
}
#intraNav .navbar-item img {
  max-height: 2.8rem;
  margin-top: unset !important;
}
// Navbar home
#fullNavbar a.navbar-item:hover,#fullNavbar a.navbar-item.is-active,#fullNavbar .navbar-link:hover,#fullNavbar .navbar-link.is-active {
  background-color: unset;
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  mask-size: 200%;
  color: rgb(39, 39, 39);
  animation: shine 2s infinite;
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}

#authNavbar{
  padding-top: .285rem;
  padding-right: 1.5rem;
  z-index: 999;
}
#authNavbar, #authNavbar .container{
  min-height: 25px;
  height: 25px;
}
#authNavbar .navbar-end{
  height: 25px !important;
}

#authNavbar .navbar-end a{
  margin-left: 10px;
}

#fullNavbar{
  padding-top: .85rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: #F5F4EE;
}
.has-navbar-gradient{background-color:#fff;-webkit-animation:color-change-4x 12s linear infinite alternate both;animation:color-change-4x 12s linear infinite alternate both}

/* ----------------------------------------------
 * Generated by Animista on 2018-7-10 11:40:24
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation color-change-4x
 * ----------------------------------------
 */
 @-webkit-keyframes color-change-4x {
  0% {
    background:rgba(234, 234, 234, 1);
  }
  33.3333% {
    background:rgba(219, 219, 219, 1);
  }
  66.666% {
    background:rgba(234, 234, 234, 1);
  }
  100% {
    background:rgba(242, 242, 242, 1);
  }
}
@keyframes color-change-4x {
  0% {
    background: rgba(234, 234, 234, 1);
  }
  33.3333% {
    background: rgba(219, 219, 219, 1);
  }
  66.666% {
    background: rgba(234, 234, 234, 1);
  }
  100% {
    background: rgba(242, 242, 242, 1);
  }
}


.navbar-menu.is-active {
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.navbar-menu.is-active .navbar-end{text-align: center;padding-top: 20vh}
.navbar-burger{z-index: 99; top: 0; color:rgb(0, 0, 0);}
.navbar-menu.is-active .is-fullnav-auth{text-align: center;position: relative;margin-top: 20vh;}

// 
.is-auth-pg{
  padding: 5vw 5.8vw;
}
.is-auth-pg .link{
  border-radius: 5px;
  vertical-align: middle;
  background-color: #36363629;
  height: 35px;
  padding-top: 2px;
  padding-right: 9px;
  width: 98%;
  color: #fff;
  text-align: right;
}
.is-auth-pg .title{
}
.is-auth-pg .next{
  border-radius: 5px;
  vertical-align: middle;
  background-color: #36363629;
  height: 35px;
  padding-top: 2px;
  padding-right: 9px;
  width: 48%;
  color: #fff;
  text-align: right;
  cursor: pointer;
}
.is-auth-pg .next p{vertical-align: middle;}
.is-auth-pg .next p .icon {display: inline; margin-left: 15px}
.is-auth-pg .back{
  border-radius: 5px;
  vertical-align: middle;
  background-color: #36363629;
  height: 35px;
  padding-top: 2px;
  padding-left: 9px;
  width: 48%;
  color: #fff;
  cursor: pointer;
}
.is-auth-pg .back a{
  vertical-align: middle;
  color: #fff
}
.is-auth-pg .back p{
  vertical-align: middle;
}
.is-auth-pg .back a .icon, .is-auth-pg .back p .icon {display: inline; margin-right: 15px}
.auth-form{
  margin-top: 15vh;
  border-radius: 5px;
  padding: 15px;
}
.carousel .carousel-navigation.is-overlay {
  z-index: 3;
}
#cookieBottomBox{position: fixed;bottom: 0%; z-index: 99; min-width: 100vw}
#redes{
  position: sticky;
}

#homeCarousel{
  margin-bottom: 100px;
  padding-top: calc(100vh - 97vh);
}
#homeCarousel .slick-dots{margin-left: unset;}
#homeCarousel .slick-prev{
  background-color: #1a1a1a;
  border-radius: 100%;
  color: #1a1a1a;
}
#homeCarousel .slick-next{
  border-radius: 100%;
  background-color: #1a1a1a;
  color: #1a1a1a;
}

// 
#typetxt{
  margin-top: 7vh;
}
#typetxt h1{
  min-height: 54px;
}

#bigTriangleColor path {
  fill: rgba(154, 135, 0, 0.05);
  stroke: rgba(154, 135, 0, 0.05);
  stroke-width: 2;
}
#bigTriangleColorLight path {
  fill: #f9f9f9;
  stroke: #f9f9f9;
  stroke-width: 2;
}




#about{
  padding-top: 15vh;
  margin-bottom: 5vh;
}

.card, #blogComents{
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);;
}
#about .card .card-content{
  text-align: center;
}

.is-triangle-wrapper{
  margin-top: 100px;
  margin-bottom: -10px
}

#services{
  padding-top: 0;
  padding-bottom: 100px;
}
#services .card{
  height: 240px;
  cursor: pointer;
  text-align: center
}

.content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.content-image{
  width: 100%;
  min-height: 240px;
  height: 100%;
}

.overlayer:hover .content-overlay{
  opacity: 1;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.overlayer:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-top{
  top: 20%;
}

.slider{
  height: 100%;
}
.slider-btn{
  position: relative;
  top: -50%;
  width: 100%;
}
.slider-btn .slide-button-prev{
  right: 50%;
  border-color: rgba(219, 219, 219, 0);;
}
.slider-btn .slide-button-next{
  left: 50%;
  border-color: rgba(219, 219, 219, 0);;
}

.content ul{
  margin-left: 0
}
#whatWeDo{
  margin-top: 50px;
  margin-bottom: 50px;
}
#serviceSlide {
  vertical-align:middle;
  display: table-cell;
}
#serviceSlide .slider {
  margin: 0 auto;
  max-width: 400px
}
#serviceSlide .slider-btn {
  top: -50%;
}

#categories{
  margin-top: 100px;
  margin-bottom: 80px;
}
#feeds{
  margin-bottom: 60px;
}
#categories h3{
  padding: 50px;
}

.feed-title, .feed-leyend, .feed-content{
  padding:6px
}
#feeds .feed-title h3{
  padding: 0
}
.recent-feed{
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);;
  height: 100%;
}

.content:not(:last-child){
  margin-bottom: 0;
}

.is-fullheight{
  height:97vh;
}

#map{
  margin-left: -12px;
  margin-top: -12px;
}

.gmnoprint{display: none}

.accordions {
  margin-top: 35px
}
.accordions .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordions .active, .accordions .accordion:hover {
  background-color: #ccc; 
}

.accordions .panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.is-padding-bottom-10{padding-bottom: 10px;}
.is-padding-bottom-15{padding-bottom: 15px;}
.is-padding-bottom-20{padding-bottom: 20px;}
.is-padding-bottom-25{padding-bottom: 25px;}
.is-padding-bottom-30{padding-bottom: 30px;}
.is-padding-bottom-60{padding-bottom: 60px;}
.is-padding-bottom-100{padding-bottom: 100px;}
.is-padding-top-10{padding-top: 10px;}
.is-padding-top-15{padding-top: 15px;}
.is-padding-top-20{padding-top: 20px;}
.is-padding-top-30{padding-top: 30px;}
.is-padding-top-50{padding-top: 50px;}
.is-padding-top-60{padding-top: 60px;}
.is-padding-top-100{padding-top: 100px;}
.is-padding-y-10{padding-top: 10px;padding-bottom: 10px;}
.is-padding-y-15{padding-top: 15px;padding-bottom: 15px;}
.is-padding-y-20{padding-top: 20px;padding-bottom: 20px;}
.is-padding-y-30{padding-top: 30px;padding-bottom: 30px;}
.is-padding-y-60{padding-top: 60px;padding-bottom: 60px;}
.is-padding-y-100{padding-top: 100px;padding-bottom: 100px;}
.has-background-light-green{
  background-color: rgb(233, 243, 236) !important;
}
#blog .btns {margin-top: 25px;}
#blog .btns .button:not(:first-child){
  margin-left: 15px;
}
.blog-cat ul{margin-bottom: 25px;}
.blog-cat ul li{
  display: inline;
}
.blog-cat ul li:not(:first-child){
  margin-left: 15px;
}
.pagination-list{
  list-style: none !important;
}

.is-cover {
    margin-left: 0em !important;
    margin-right: 0em !important;
    text-align: center;
    height: 100vh;
    min-height: 100vh;
}
.is-cover img{
min-height: 99%;
height: 99.9vh;
}


#productPage .slider .column {
  min-height: 500px;
  height: 500px;
}
#productPage .slider .column .btns{
  position: absolute;
  top: 85%;
}
#productPage #ourBrands .slick-list{
  min-height: auto;
  height: 200px;
}
#productPage #ourBrands .slick-slide{
  margin: 15px;
}




.radio-control,
.control {
  position: relative;
  margin-top: .8rem;
  margin-bottom: .8rem;
}

.form-inline > .control,
.form-inline > .btn {
  display: inline-block;
  margin-bottom: 0;
}

.form-help {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  color: #949494;
  font-size: 0.8rem;
}
.checkbox-control .form-help, .radio-control .form-help, .control .form-help {
  position: absolute;
  width: 100%;
}
.checkbox-control .form-help {
  position: relative;
  margin-bottom: 1rem;
}
.radio-control .form-help {
  padding-top: 0.25rem;
  margin-top: -1rem;
}

.control input {
  height: 1.9rem;
}
.control textarea {
  resize: none;
}
.control select {
  width: 100%;
  font-size: 1rem;
  height: 1.6rem;
  padding: 0.125rem 0.125rem 0.0625rem;
  background: none;
  border: none;
  line-height: 1.6;
  box-shadow: none;
}
.control .label {
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #949494;
  font-size: 1rem;
  font-weight: normal;
  transition: all 0.38s ease;
}
.control .bar {
  position: relative;
  border-bottom: 0.0625rem solid #7a7a7a;
  display: block;
}
.control .bar::before {
  content: "";
  height: 0.125rem;
  width: 0;
  left: 50%;
  bottom: -0.0625rem;
  position: absolute;
  background: #00d1b2;
  transition: left 0.38s ease, width 0.38s ease;
  z-index: 2;
}
.control input,
.control textarea {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 1rem;
  border-width: 0;
  border-color: transparent;
  line-height: 1.9;
  width: 100%;
  color: transparent;
  transition: all 0.38s ease;
  box-shadow: none;
}
.control input[type="file"] {
  line-height: 1;
}
.control input[type="file"] ~ .bar {
  display: none;
}
.control select,
.control input:focus,
.control input:valid,
.control input.form-file,
.control input.has-value,
.control textarea:focus,
.control textarea:valid,
.control textarea.form-file,
.control textarea.has-value {
  color: #4a4a4a;
}
.control select ~ .label,
.control input:focus ~ .label,
.control input:valid ~ .label,
.control input.form-file ~ .label,
.control input.has-value ~ .label,
.control textarea:focus ~ .label,
.control textarea:valid ~ .label,
.control textarea.form-file ~ .label,
.control textarea.has-value ~ .label {
  font-size: 0.8rem;
  color: #616161;
  top: -1rem;
  left: 0;
}
.control select:focus,
.control input:focus,
.control textarea:focus {
  outline: none;
}
.control select:focus ~ .label,
.control input:focus ~ .label,
.control textarea:focus ~ .label {
  color: #00d1b2;
}
.control select:focus ~ .bar::before,
.control input:focus ~ .bar::before,
.control textarea:focus ~ .bar::before {
  width: 100%;
  left: 0;
}

.checkbox-control label,
.radio-control label {
  position: relative;
  cursor: pointer;
  padding-left: 2rem;
  text-align: left;
  color: #4a4a4a;
  display: block;
}
.checkbox-control input,
.radio-control input {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
}

.radio-control {
  margin-bottom: 1rem;
}
.radio-control .helper {
  position: absolute;
  top: -0.25rem;
  left: -0.25rem;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  user-select: none;
  color: #7a7a7a;
}
.radio-control .helper::before, .radio-control .helper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  margin: 0.25rem;
  width: 1rem;
  height: 1rem;
  transition: transform 0.38s ease;
  border-radius: 50%;
  border: 0.125rem solid currentColor;
}
.radio-control .helper::after {
  transform: scale(0);
  background-color: #00d1b2;
  border-color: #00d1b2;
}
.radio-control label:hover .helper {
  color: #00d1b2;
}
.radio-control input:checked ~ .helper::after {
  transform: scale(0.5);
}
.radio-control input:checked ~ .helper::before {
  color: #00d1b2;
}

.checkbox-control {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.checkbox-control .helper {
  color: #7a7a7a;
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  z-index: 0;
  border: 0.125rem solid currentColor;
  border-radius: 0.0625rem;
  transition: border-color 0.38s ease;
}
.checkbox-control .helper::before, .checkbox-control .helper::after {
  position: absolute;
  height: 0;
  width: 0.2rem;
  background-color: #00d1b2;
  display: block;
  transform-origin: left top;
  border-radius: 0.25rem;
  content: "";
  transition: opacity 0.38s ease, height 0s linear 0.38s;
  opacity: 0;
}
.checkbox-control .helper::before {
  top: 0.65rem;
  left: 0.38rem;
  transform: rotate(-135deg);
}
.checkbox-control .helper::after {
  top: 0.3rem;
  left: 0;
  transform: rotate(-45deg);
}
.checkbox-control label:hover .helper {
  color: #00d1b2;
}
.checkbox-control input:checked ~ .helper {
  color: #00d1b2;
}
.checkbox-control input:checked ~ .helper::after, .checkbox-control input:checked ~ .helper::before {
  opacity: 1;
  transition: height 0.38s ease;
}
.checkbox-control input:checked ~ .helper::after {
  height: 0.5rem;
}
.checkbox-control input:checked ~ .helper::before {
  height: 1.2rem;
  transition-delay: 0.38s;
}

.radio-control + .radio-control,
.checkbox-control + .checkbox-control {
  margin-top: 1rem;
}

.has-error .legend.legend, .has-error.control .label.label {
  color: #ff3860;
}
.has-error.control .form-help,
.has-error.control .helper, .has-error.checkbox-control .form-help,
.has-error.checkbox-control .helper, .has-error.radio-control .form-help,
.has-error.radio-control .helper, .has-error.radio-control .form-help,
.has-error.radio-control .helper {
  color: #ff3860;
}
.has-error .bar::before {
  background: #ff3860;
  left: 0;
  width: 100%;
}



#contactForm{
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 30px;

}
#contactForm form{
  background-color: #fff;
  padding: 30px 25px;
}

.text-green-animation{
  -webkit-animation: shadow-drop-2-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: shadow-drop-2-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes shadow-drop-2-bottom {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px) translateY(-12px);
            transform: translateZ(50px) translateY(-12px);
    box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-bottom {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px) translateY(-12px);
            transform: translateZ(50px) translateY(-12px);
    box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}
#contactForm .textarea:not([rows]){
  min-height: 80px;
}


#testimonials .column {
  min-height: auto !important;
  height: auto !important;
}
#testimonialText .column {
  padding: 0 15px !important;
}
#testimonials .is-testimonial-img,
.media-content-img{
  display: grid;
}

#testimonials .is-testimonial-img figure,
.media-content-img figure{
  align-self: center;
  justify-self: center;
}

#testimonials .is-testimonial-img img,
.media-content-img figure img{
  border-radius: 50%;
  width: 170px;
}

#testimonials .is-testimonial-coment {
  margin-top: 20px;
}


#blogDetails .is-blog-content{
  padding: 75px;
}

.media-content-text{
  padding-top: 35px;
}

#blogComents{
  border: 1px solid rgba(2,2,2,.0912);
  padding: 30px 10px;
  background-color: #fff;
  margin-top: 15px;
}


#intra{
  padding-top: 65px;
}
#intra #verticalNav{
  height: calc(100vh - 53px);
  padding-left: 15px
}
#intra #verticalNav aside{
  height: auto;
}

.menu-list li a{
  text-transform: capitalize
}

.intra #errorNotFound .hero.is-fullheight {
  height: calc(80vh) !important;
  min-height: unset;
  background-color: unset !important;
}

#productsNavBar .field:not(:last-child){
  margin-bottom: 0 !important;
}
#productsNavBar .field.has-addons .control:not(:last-child) {
  margin-right: -1px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-top: 2px;
  padding-left: 15px;
}

#productsSearcher {position: fixed}
#productsSearcher .card h3,
#productsSearcher .card .field{
  padding-left: 15px
}

.all-overlay{
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.84);
  z-index: 999;
}

.underconstruction{
  height: auto;
  max-height: 70%;
  overflow-y: scroll;
  background-color: #fff;
  position: absolute;
  left: 15%;
  right: 15%;
  top: 15%;
}
.underconstruction #header,
.underconstruction #footer{
  padding: 15px 15px 5px 15px;
  background-color: #7a7a7a26;
  text-align: center;
}

.underconstruction #body{
  padding: 0 15px 20px 15px;
  background-color: #7a7a7a26;
}

.underconstruction #body #contactForm{padding-top: 15px}
.underconstruction #body .title{text-align: center;}
.underconstruction #body .title p{font-size: 1.74em;}
.underconstruction #footer{padding-bottom: 15px;}

.contact-form button{
  width: 100%
}
.image.is-128x256 {
  height: 128px !important;
  width: 256px !important;
}
.is-margin-botton-50{
  margin-bottom: 50px;
}
.is-padding-y-30{
  padding-top: 30px;
  padding-bottom: 30px;
}

#brandCarrouselImg{
  max-height: 150px;
}

#redes-fixed{
  position: fixed;
  z-index: 9999999999999999999999999999;
  bottom: 0%;
  width: 100%;
}

#preloadImg{
  position: absolute;
  top: 45%;
  left: 45%;
}

.ping {
	-webkit-animation: ping 1.8s ease-in-out infinite backwards;
	        animation: ping 1.8s ease-in-out infinite backwards;
}

.content li + li {
  margin-top: unset
}

.breadcrumb li {
  padding-top: 1em !important;
}

.breadcrumb .is-active {
  border-bottom: solid #1f9cee;
}

.intra-panel{
  max-height: 75vh;
  overflow-x: auto
}

.control-disable::after{
  content: ""; // ::before and ::after both require content
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  border-color: whitesmoke;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #7a7a7a;
  opacity: .7;
  cursor: not-allowed;
}


.is-social-media {
  background-color: rgba(47, 47, 47, 0.94);
  margin-top: 40px;
  padding-left: 60px;
  padding-right: 60px;
}

.fixed-bottom{
  position: fixed;
  bottom: 0;
  width: 100% !important;
  z-index: 2;
} 


.intra #navMenu, .product-list #navMenu {margin-top:0;}
#navMenu .selected {
  border-bottom: solid #00c851 !important;
}


@-webkit-keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
    opacity: 0;
  }
}
@keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
    opacity: 0;
  }
}

#verticalNav .selected{
  background-color: whitesmoke;
  color: #363636;
}

.text-green {
  // position:relative;
  // vertical-align: middle;
  // color: #0b7;
  // display: inline-block;
  // height: 60px;
  // line-height: 60px;
  // text-align: center;
  transition: 0.5s;
  // padding: 0 20px;
  cursor: pointer;
  // border: 2px solid #0b7;
  -webkit-transition:0.5s;
}

.text-green:hover {
  border-bottom: 2px solid rgba(0,160,80,0);
  color: #FFF;
}

.text-green::before, .text-green::after {
  width: 100%;
  height:100%;
  z-index: 3;
  content:'';
  position: absolute;
  top:0;
  left:0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  transition: 0.5s;
}

.curmudgeon::before {
  border-bottom: 5px solid #FFF;
  border-left: 0;
  -webkit-transform-origin: 0% 100%;
}

.curmudgeon::after {
  border-top: 0;
  border-right: 0;
  -webkit-transform-origin: 50% 50%;
}

@media screen and (max-width: 800px){
  #blogDetails .is-blog-content{
    padding: 25px;
  }
  #testimonials .column {
    min-height: auto !important;
    height: auto !important;
  }
  #productPage .columns{
    margin: 15px;
  }
  #contactForm{
    padding-top: 40px;
  }
  #serviceSlide {
    padding-top: 0;
  }
  #serviceSlide .slider-btn {
    // top: -20vh;
  }
  .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  .content-overlay{
    opacity: .5;
  }
  .site .content {margin-top: 52px;}
  .has-navbar-gradient{
    background: rgb(255, 255, 255);
  }
  .slick-arrow .slick-next,
  .slick-arrow .slick-prev{
    display: none !important;
  }
  #fullNavbar{
    height: 5px;
    padding: unset;
  }
  #fullNavbar #is-logo{
    max-height: 1.75em;
    margin: unset;
  }
  #intraNav #is-logo{
    max-height: 20px;
    margin: unset !important;
  }
  .is-size-7 {font-size: 0.7135rem !important;}
  .slider-btn{
    position: relative;
    top: -140px;
    width: 100%;
  }
  .slider-btn .slide-button-prev{
    right: 40%;
    border-color: rgba(219, 219, 219, 0);;
  }
  .slider-btn .slide-button-next{
    left: 40%;
    border-color: rgba(219, 219, 219, 0);;
  }
  .columns {
    margin-left: 0;
    margin-right: 0;
  }
  .blog-cat ul{margin-bottom: 25px; overflow-x: hidden}
}